:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-background-color), 1);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --scrollbar-width: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: calc(var(--scrollbar-width) / 2);
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-width);
    background-color: var(--scrollbar-thumb-color);
  }
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: 33, 53, 71;
    --primary-background-color: 248, 248, 248;
    --scrollbar-thumb-color: rgba(221, 222, 222, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 231, 225, 234;
    --primary-background-color: 36, 36, 36;
    --scrollbar-thumb-color: rgba(85, 85, 85, 1);
  }
}
